@{
    ViewData["Title"] = "CheckIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ int maxAdult = Model.NumberOfAdults - Model.NumberOfAdultsCheckedIn;}
@{ int maxChildren = Model.NumberOfChildren - Model.NumberOfChildrenCheckedIn;}

<h1 class="display-4">Restaurant / Check-In Guest</h1>

<hr>

<p><b>Room Number:</b> @Model.RoomNumber</p>
<p><b>Adults:</b> @Model.NumberOfAdults</p>
<p><b>Children:</b> @Model.NumberOfChildren</p>
<p><b>Adults Checked In:</b> @Model.NumberOfAdultsCheckedIn</p>
<p><b>Children Checked In:</b> @Model.NumberOfChildrenCheckedIn</p>

<hr>

<form method="post" enctype="multipart/form-data" asp-controller="Restaurant" asp-action="AddCheckIn">

    <div class="form-group">
        <label for="numberOfAdultsCheckedIn"><b>Number of Adults To Check-In</b></label>
        <input max="@maxAdult" type="number" class="form-control" id="numberOfAdultsCheckedIn" name="numberOfAdultsCheckedIn">
    </div>

    <div class="form-group">
        <label for="numberOfChildrenCheckedIn"><b>Number Of Children To Check-In</b></label>
        <input max="@maxChildren" type="number" class="form-control" id="numberOfChildrenCheckedIn" name="numberOfChildrenCheckedIn">
    </div>

    <input type="hidden" id="id" name="id" value="@Model.Id" />

    <button type="submit" class="btn btn-primary">Check-In!</button>

</form>