@model IEnumerable<WebApplication.Models.Reservation>

@{
    ViewData["Title"] = "Restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4">Restaurant</h1>

<div>
    <h4>Reservations for today</h4>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Room Number</th>
                <th scope="col">Adults</th>
                <th scope="col">Children</th>
                <th scope="col">Adults Checked In</th>
                <th scope="col">Children Checked In</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.NumberOfAdults)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.NumberOfChildren)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.NumberOfAdultsCheckedIn)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.NumberOfChildrenCheckedIn)
                </th>
                <th>
                    <a asp-action="CheckIn" asp-route-id="@item.Id" class="btn btn-primary">Check-In</a>
                </th>
            </tr>
        }
        </tbody>
    </table>
</div>



