@model WebApplication.DTOs.AccumulatedReservations

@{
    ViewData["Title"] = "Kitchen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kitchen</h1>
<table>
    <tr>
        <th>Expected guests</th>
        <td>
            @Html.DisplayFor(model => model.ExpectedGuest)
        </td>
    </tr>
    <tr>
        <th>Amount of adults checked in</th>
        <td>
            @Html.DisplayFor(model => model.CheckedInAdults)
        </td>
    </tr>
    <tr>
        <th>Amount of children checked in</th>
        <td>
            @Html.DisplayFor(model => model.CheckedInChildren)
        </td>
    </tr>
    <tr>
        <th>Amount of guest not yet checked in</th>
        <td>
            @Html.DisplayFor(model => model.NotCheckedInGuests)
        </td>
    </tr>
    <tr>
        <th>Amount of adults not yet checked in</th>
        <td>
            @Html.DisplayFor(model => model.NotCheckedInAdults)
        </td>
    </tr>
    <tr>
        <th>Amount of children not yet checked in</th>
        <td>
            @Html.DisplayFor(model => model.NotCheckedInChildren)
        </td>
    </tr>
</table>



